# CS 122 Lecture 1b: Strings

Learning Outcomes:
By the end of this lesson, you should be able to:
1. Declare strings and access string chracters by their indices
2. Maniputate strings with built-in string methods

# Part 1: Declaring Strings
Strings are declared in Python using either double quotes or single quotes -- and it doesn't matter which! All that matters is that they are opened and closed with the same quote type.

In [ ]:
# create a string enclosed in single quotes
first_name = 'Deep'

# create a string enclosed in double quotes
last_name = "Shah"

print(first_name, last_name)

Deep Shah

Strings can be concatenated using the `+` operator:

In [ ]:
# concatenate the two srings above
print(first_name + last_name)

DeepShah

Unlike some other programming languages, Python data elements do not have an implicit toString() method. In other words, you must convert an object of a different type to a string before concatenation. Try it for your self:

In [ ]:
# try to concatenate an integer to one of the strings defined above
print(first_name + 1)
# what happens? how can you alleviate this error?

TypeError: can only concatenate str (not "int") to str

The character(s) at a given location(s) in a string can be accessed using square brackets:

In [ ]:
# print the first letter of one of the words above
print('The first letter of ' + first_name +' is '+first_name[0]+'.')

The first letter of Deep is e.

Similarly, a subset of a string can be accessed in a similar way as for lists:

In [ ]:
# print the second and third letters of one of the words above

print('The second and third letters of '+first_name+' are '+first_name[1:3]+'.')

The second and third letters of Deep are ee.

# Part 2: Manipulating Strings
Beyond concatenation and accessing elements in a string, Python has many built-in methods for manipulating strings. The following table lists some of the common methods:

| Method	| Description                                                     |
| --------- | --------------------------------------------------------------- |
| split()   | Divides a string into a list of substrings with a given string  |
| join()    | Concatenats a list of strings into a single string              |
| strip()	| Removes the whitespace on the left and right of a string        |
| count()   | Returns the number of substrings with the given value           |
| find()    | Rturns the index of the first occurances of the given substring |
| replace() | Replaces each instance of a substring with a given substring    |
| upper()   | Converts lowercase characters to uppercase characters           |
| lower()   | Converts uppercase characters to lowercase characters           |
| reverse() | Reverses the order of the string                                |

## Splitting and joining
Often, it is helpful to split a string into a list, make some edits and then rejoin the string. The `split` and `join` methods have different approachs to syntax. The split method operates on the string and takes a substring as an argument as:
```
string.split(<substring>)
```
Conversely, the join method operates on the substring and takes a list of strings as an argument:
```
<substring>.join(list)
```
For example, consider a string divided across three lines that you would like to join into a single line:

In [ ]:
# define a string written across three lines
three_line_str = 'This string is\nsplit across three\ndifferent lines.'
print(three_line_str)
print(' ')

# split the string at the line breaks
three_line_str = three_line_str.split('\n')

# print the resultant list from the previous command with an extra space
print(three_line_str)
print(' ')

# rejoin the string with spaces
three_line_str = ' '.join(three_line_str)

# print the resultant list from the previous command with an extra space
print(three_line_str)
print(' ')

This string is
split across three
different lines.

['This string is', 'split across three', 'different lines.']

This string is split across three different lines.

Most other string methods operate on the string itself (like the split command). For example:

In [ ]:
# replace the string 'split' with 'no longer split' in the
# string resaulting from the previous cell
one_line_str = three_line_str.replace('split','no longer split')
print(one_line_str)

This string is no longer split across three different lines.

### &#x1F914; Mini-Exercise
Goal: Convert the tab-delimited line to a comma-delimited line that could be opened in Excel. To accomplish this, split the line at the tabs, "wrap" each item in double quotes, and then join back to a single string. The double quotes will ensure proper formatting in Excel. Your output should look as follows:
```
"City, State","Population"
"Manhatten, NY","1,000,000"
"San Jose, CA","1,000,000"
```

In [8]:
# a tab delimited file is separated by tabs (\t)
tab_line = 'City, State\tPopulation\nManhatten, NY\t1,000,000\nSan Jose, CA\t1,000,000'
print(tab_line)
print(' ')

# split the string by tabs
tab_line = tab_line.split('\t')

# for each substring, add double quotes to the string on each end
# you can access each of the 4 substrings individually
tab_line[0] = '"' + tab_line[0] + '"'
tab_line[1] = '"' + tab_line[1] + '"'
tab_line[2] = '"' + tab_line[2] + '"'
tab_line[3] = '"' + tab_line[3] + '"'

# join the substring using commas
tab_line = ','.join(tab_line)


# tab_line =  '"' + '", "'.join(tab_line) + '"'   # Alternative


# wrap the next line escape characters with double quotes so each
# line starts and ends with a double quote
tab_line = tab_line.replace('\n', '"\n"')

print(tab_line)

City, State	Population
Manhatten, NY	1,000,000
San Jose, CA	1,000,000

"City, State", "Population"
"Manhatten, NY", "1,000,000"
"San Jose, CA", "1,000,000"