# CS 122 Lecture 3: Dictionaries

Learning Objectives:
By the end of this lesson, you should be able to:
1. Create and edit Python dictionaries
2. Describe the types of items that can used as keys in a dictionary

# Creating and Editing Dictionaries

Dictionaries are used as a "look-up table" that associate two sets of objects. The items or "keys" in a dictionary must be unique but the correspondence does not need to be one-to-one.

In [ ]:
# make a dictionary to reference integers to their string representations
my_dict = {1:"one",
           2:"two",
           3:"three"}

To access the value corresponding to a key in the dictionary, pass the key:

In [ ]:
# get the string representation of the interger 2
print(my_dict[2])

two

We can access all of the look-up values with the `.keys()` method:

In [ ]:
# use the keys() method to access the dictionary keys
my_dict.keys()

dict_keys([1, 2, 3])

It's important to note that the keys aren't a list:

In [ ]:
# check the type of the dict keys
print(type(my_dict.keys()))

# try to access one of the keys using an index - what happens?
keys = my_dict.keys()
# keys
print(keys[0]) # Error

<class 'dict_keys'>

TypeError: 'dict_keys' object is not subscriptable

In [ ]:
# Dictionaries can support multiple data types as keys and values. You can use an integer, float, string, or Boolean as a dictionary key, but not set, list or dictionary

mix_dict = {
              1: 'int',
              'str_key': ['Some', 'list'],
              (2.3, 'float'): {'set', 1}
          }

print(mix_dict)

{1: 'int', 'str_key': ['Some', 'list'], (2.3, 'float'): {'set', 1}}

Dictionaries are flexible and can be resized as needed. Editing a dictionary is similar to lists: dictionaries have a `pop` method for removing keys and keys can be (re-)assigned in a dictionary using the index notation:

In [ ]:
# remove the 2:"two" key value pair using the pop method:
my_dict.pop(2)

# add a 4:"four" key-value pair using index notation:
my_dict[4] = "four"

del my_dict[4] # Another way to delete in dictionary

# print my_dict
print(my_dict)

{1: 'one', 3: 'three'}

### &#x1F914; Mini-Exercise
Make a dictionary for the following names of classes:

| Department Code | Course Number | Course Name       |
| --------------- | ------------- | ----------------- |
| MATH            | 123           | Advanced Calculus |
| MATH            | 133           | Partial Differential Equations |
| CS              | 123           | Bioinformatics    |
| CS              | 133           | Introduction to Data Visualization |

You should be able to pass a pair of values (tuple) corresponding to the department code (str) and the course number (int) and the dictionary should return the course name.

In [ ]:
# create your dictionary here
course_dict = {
    ('MATH', 123) : 'Advanced Calculus',
    ('MATH', 133) : 'Partial Differential Equations',
    ('CS', 123) : 'Bioinformatics',
    ('CS', 133): 'Introduction to Data Visualization'
}

course_dict[('MATH', 123)]

'Advanced Calculus'

## &#x2757; Syntax Warning
Python uses the same syntax for sets and dictionaries -- the curly braces `{}`. The only difference is that dictionary entries are included in pairs separated by colons while sets have entries like a list

## Common Dictionary Methods

| Method	| Description                                                            |
| --------- | ---------------------------------------------------------------------- |
| keys()    | Views all the keys in the dictionary                                   |
| values()  | Views all the values in the dictionary                                 |
| get()    	| Returns the value of a key if it exists, otherwise returns a default   |
| copy()    | Makes a copy of the dictionary                                         |
| update()  | Updates the entries of a dictionary given those in a second dictionary |

### Using `get` rather than a key explicitly

In [ ]:
# define a dictionary with two entries
my_dict = {'Name':'Deep','Surname':'Shah'}

# the get method works the same as acessing with a key as long as the entry is in the dict
print(my_dict.get('Name',None))
print(my_dict['Name'])


# # but it is beneficial to use in case the entry cannot be found
print(my_dict.get('Middle Name')) # Returns None
print(my_dict['Middle Name'])  # Gives Error

Deep
Deep
None

KeyError: 'Middle Name'

## Combining Dictionaries
Dictionaries can be combined using a union or in place.

In [ ]:
# As of Python 3.9, the union operator can be used to join two dictionaries
a = {'one':1}
b = {'two':2}
c = a | b
print('c', c)

# However, this does not change the dictionary contents
print('a', a)

# You can also use dictionary unpacking
d = {**a, **b}
print('d', d)

# If you want to join in place, use the update method
a.update(b)
print('a new', a)

c {'one': 1, 'two': 2}
a {'one': 1}
d {'one': 1, 'two': 2}
a new {'one': 1, 'two': 2}

### &#x1F914; Mini-Exercises

*   Not graded

*   **Create a copy of the notebook to save your work** (applies to all future execises)

1. Use modulo to find the remainder when 403 is divided by 73

In [ ]:
403 % 73

38

2. Find absolute value for 3 squared minus square root of 86

In [ ]:
abs(3**2 - 86**0.5)

0.27361849549570394

3. What is the output of the following dictionary operation?

  ```
  dict1 = {"name": "Sam", "salary": 4000}
  temp = dict1.get("age", 0)
  print(temp)
  ```

In [ ]:
dict1 = {"name": "Sam", "salary": 4000}
temp = dict1.get("age", 0)
print(temp)

0

Ans: 0

4. What is the output of the following?

In [ ]:
sampleDict = dict([
    ('first', 1),
    ('second', 2),
    ('third', 3)
])

print(sampleDict)

{'first': 1, 'second': 2, 'third': 3}

5. Change the value of a **history** subject to 82

In [ ]:
sampleDict = {
   "class": {
      "student": {
         "name": "Deep",
         "marks": {
            "physics": 70,
            "history": 80
         }
      }
   }
}

# Enter code here
sampleDict["class"]["student"]["marks"]["history"] = 82
sampleDict

{'class': {'student': {'name': 'Deep',
   'marks': {'physics': 70, 'history': 82}}}}

6. Merge two Python dictionaries into one

In [ ]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# Enter code here
dict3 = {**dict1, **dict2}
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

7. Write a program to rename a key `city` to `location` in the following dictionary

  *Hint:* Remove the city from a given dictionary and add a new key (location) into a dictionary with the same value

In [ ]:
sample_dict = {
  "name": "Kelly",
  "age": 25,
  "salary": 8000,
  "city": "New york"
}

# Enter code below
sample_dict["location"] = sample_dict.pop("city")
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}